body {
  color: black;
  font-family: Montserrat, Arial, sans-serif;
  position: relative;
}

#mainsection {
  background-color: lightblue;
  width: 500px;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px darkgrey;
  overflow: hidden;
}

#text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  position: relative;
  text-align: center;
}

#typePhrase {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  width: 480px;
  margin-bottom: 10px;
  border: none;
}

#submitButton {
  font-family: Montserrat, Arial, sans-serif;
  padding: 10px;
  font-size: 14px;
  background-color: darkblue;
  color: white;
  border: none;
}

.perf {
  display: flex;
  text-align: center;
}

#accuracyBox {
  background-color: darkblue;
  padding: 10px;
  color: white;
  width: 200px;
  margin: 10px;
  left: 20px;
}

#errorBox {
  background-color: darkblue;
  padding: 10px;
  color: white;
  width: 200px;
  margin: 10px;
  right: 20px;
}

.best {
  display: flex;
  text-align: center;
}

#bestAccuracyBox {
  background-color: darkblue;
  padding: 10px;
  color: white;
  width: 200px;
  margin: 10px;
  left: 20px;
}

#bestWmpBox {
  background-color: darkblue;
  padding: 10px;
  color: white;
  width: 200px;
  margin: 10px;
  right: 20px;
}
span.labels {
  background-color: darkblue;
  color: white;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

span.mistake {
  animation: mistake 0.5s;
  animation-timing-function: linear;
}
@keyframes mistake {
  0% {
    background-color: darkblue;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: darkblue;
  }
}
#triangle {
  visibility: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 99;
}
